* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100vw;
  max-height: 100vh;
}

/* classi ritulizzabili */
.float-right {
  float: right;
}

.float-left {
  float: left;
}


/* Header */
header {
  height: 80px;
  width: 100%;
  line-height: 80px;
  border-bottom: 1px solid black;
}

header .header-left ul li img {
  width: 150px;
  padding-right: 30px;
}

header .header-left ul {
  display: flex;
  text-transform: uppercase;
}

header .header-left ul li,
header .header-right ul li{
  padding-right: 30px;
  list-style: none;
}

header .header-left ul li a,
header .header-right ul li a{
  text-decoration: none;
  color: grey;
}

header .header-right ul {
  display: flex;
}

header .header-right ul li:last-child a{
  background-color: #eb008d;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

li.dropdown {
  position: relative;
}

li .dropdown-menu {
  position: absolute;
  top: 60px;
  right: 50%;
  transform: translateX(50%);
  background-color: white;
  min-width: 140px;
  display: none;
  box-shadow: 0 2px 5px rgba(9, 9, 9, 0.76);
}

.dropdown-menu.active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#personale {
  color: black
}

#prodotti {
  width: 280px;
}

#affiliates,
#apple,
#donazioni,
#perk {
  position: relative;
}

.dropdown-menu #perk span {
  position: absolute;
  bottom: 10px;
  left: 30px;
  color: #eb008d;
}

.dropdown-menu #affiliates span {
  position: absolute;
  bottom: 10px;
  left: 55px;
  color: #eb008d;
}

.dropdown-menu #apple span,
.dropdown-menu #donazioni span {
  position: absolute;
  bottom: 10px;
  left: 70px;
  color: #eb008d;
}
